<!-- A mustache template response -->
<h1>Receipt uploaded!</h1>
<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Vendor</td>
    <td>{{{vendor}}}</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>{{{date}}}</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{{total}}}</td>
  </tr>
</table>
<h2><a href="/index.html">Return to homepage</a></h2>
