.u-section-1 .u-sheet-1 {min-height: 404px}
.u-section-1 .u-text-1 {width: 263px; margin: 0 auto}
.u-section-1 .u-layout-wrap-1 {width: 900px; margin: 24px auto 0 120px}
.u-section-1 .u-layout-cell-1 {min-height: 315px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-btn-1 {border-style: solid; background-image: none; margin: 24px 0 0; padding: 9px 13px 11px}
.u-section-1 .u-layout-cell-2 {min-height: 315px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-btn-2 {border-style: solid; background-image: none; margin: 24px 0 0; padding: 9px 13px 11px}
.u-section-1 .u-layout-cell-3 {min-height: 315px}
.u-section-1 .u-icon-3 {height: 64px; width: 64px; margin: 30px auto 0}
.u-section-1 .u-btn-3 {border-style: solid; background-image: none; margin: 24px auto 0; padding: 9px 13px 11px}
.u-section-1 .u-layout-cell-4 {min-height: 315px}
.u-section-1 .u-icon-4 {height: 64px; width: 64px; margin: 30px auto 0}
.u-section-1 .u-btn-4 {border-style: solid; background-image: none; margin: 24px auto 0; padding: 9px 13px 11px}
.u-section-1 .u-btn-5 {border-style: solid; background-image: none; font-size: 1.25rem; margin: -49px 484px 76px auto; padding: 9px 13px 11px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: 216px}
.u-section-1 .u-layout-wrap-1 {width: 742px; margin-left: 99px}
.u-section-1 .u-layout-cell-3 {min-height: 260px}
.u-section-1 .u-layout-cell-4 {min-height: 260px}
.u-section-1 .u-btn-5 {margin-right: 399px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-top: 458px; width: 166px}
.u-section-1 .u-layout-wrap-1 {margin-top: -434px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 365px}
.u-section-1 .u-layout-cell-2 {min-height: 365px}
.u-section-1 .u-layout-cell-3 {min-height: 398px}
.u-section-1 .u-layout-cell-4 {min-height: 398px}
.u-section-1 .u-btn-5 {margin-right: 305px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: auto}
.u-section-1 .u-text-1 {width: 155px}
.u-section-1 .u-layout-cell-1 {min-height: auto}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-btn-1 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-layout-cell-2 {min-height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-btn-2 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-layout-cell-3 {min-height: 597px}
.u-section-1 .u-btn-3 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-layout-cell-4 {min-height: 597px}
.u-section-1 .u-btn-4 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-btn-5 {margin-right: 229px; padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 .u-layout-cell-3 {min-height: 376px}
.u-section-1 .u-layout-cell-4 {min-height: 376px}
.u-section-1 .u-btn-5 {margin-right: 144px} }